@charset "UTF-8";

/*共通部分
--------------------------------------*/
html{
  font-size: 100%;
}
body{
  font-family: "Segoe UI",SegoeUI,"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
  background-color: #F5F5F5;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4px;
}
main{
  margin: 0;
}

/*header
-----------------------------------*/
.main-nav{
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}

.page-header {
  display: flex;
  justify-content: flex-end;
}


/*main
---------------------------------*/
.home-content {
  text-align: center;

}

/*top */
.page-title {
  font-size: 3rem;
  font-weight: bold;
}

/*works*/
.works-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.works-container div{
  width: 20%;
  text-align: left;
}
.works-container p{
  font-size: 0.75rem;
}
.works-container a{
  color:#432;
}

/*work-content
-----------------------------*/
.works-content {
  text-align: center;
}
.works-content h2 {
  font-size: 3rem;
}
.PC-main-image {
  background-color: RGB(112,112,112,80%);
  height:100%;
  width:70%;
}
.PC-main-image img{
  width:80%;
  margin: 20px auto;
}
